{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'row',
  'align-items-center',
  'justify-content-between',
]
%}

{% if content %}
  <div{{attributes.addClass(classes)}}>

    {% if content.first %}
      <div {{ region_attributes.first.addClass('col-lg-6') }}>
        {{ content.first }}
      </div>
    {% endif %}

    {% if content.second %}
      <div {{ region_attributes.second.addClass('col-lg-6') }}>
        {{ content.second }}
      </div>
    {% endif %}

  </div>
{% endif %}

